* {
    background-color: #1F1E25;
}
/* Main header css code*/
.Header .menu{
    display: flex;
    flex-direction: row;
}
.menu button{
    font-family:'Nanum Gothic Coding','Inter','sans-serif';
    color: #ffffff;  
    background-color: #494848fb;
    border: none;        
    border-radius: 2px;
    padding: 10px 65px 10px 65px;   
    margin: 2px;   
    position: relative;    
    cursor: pointer;               
}
.Header .menu button::before{
    content: "";
    background-color: rgb(255, 96, 96);
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}
.Header .menu button:hover::before{
    content: "";
    background-color: rgb(255, 96, 96);
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 100%;
}
/* About section*/
.intro{
    display: flex;
}
.intro .number {
    margin-top: 50px;
    margin-left: 50px;
    font-family:'Nanum Gothic Coding','Inter','sans-serif';
    color:#494848fb ;
}
.intro .text {
    margin-top: 50px;
    margin-left: 50px;
    font-family:'Nanum Gothic Coding','Inter','sans-serif';
    color:#494848fb ;
}